---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>

  <a href="/blog.html">[Blog]</a> <a href="/projects.html">[Projects]</a>

  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<h2>Blog entries</h2>

You may enjoy reading some of my blog entries

{% include post_list.html %}

<h2>OSS work</h2>

You can find some of my most interesting OSS projects on the <a href="/projects.html">Projects</a> page.

{%-include my_links.html-%}