---
layout: default
---

<h1>{{ site.title }}</h1>

{%-include back_link.html-%}

<p>
    You can just build things ©
</p>

<p>
    I like building useful application for my personal needs.
    For me, Rust is the best option for experimenting with new ideas and creating efficient, reliable software.
</p>

<p>
    Here is the list of my recent Rust projects:
</p>

<ul>
    <li>
        <a href="https://github.com/grouzen/framework-tool-tui">Framework Tool TUI</a> - A TUI for controlling and
        monitoring Framework Computers hardware built in Rust
    </li>

    <li>
        <a href="https://github.com/grouzen/reprompt">Reprompt</a> - Simple desktop GUI application to easily configure
        and manage multiple LLM tasks to avoid writing the same prompts repeatedly.
    </li>

    <li>
        <a href="https://github.com/grouzen/ollana">Ollana</a> - LLama Over LAN - Auto-discover your Ollama server on
        your local network with hassle-free ease.
    </li>
</ul>

<p>
I'm also a passioned Scala developer and I have created a couple of ZIO-powered libraries:
</p>

<ul>
    <li>
        <a href="https://github.com/zio/zio-telemetry/">ZIO Telemetry</a> - ZIO-powered OpenTelemetry library
    </li>

    <li>
        <a href="https://github.com/grouzen/zio-apache-parquet/">ZIO Apache Parquet</a> - Scala ZIO-powered Apache Parquet library
    </li>

    <li>
        <a href="https://github.com/grouzen/zio-apache-arrow/">ZIO Apache Arrow</a> - Scala ZIO-powered Apache Arrow library
    </li>
</ul>

{%-include my_links.html-%}